/* Roboto Slab / Lobster */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

body,h1,h2,h3,h4,h5,h6,a,p{
  font-family: 'Roboto Slab', serif;
} 

.btn{
  text-transform: uppercase;
}

@media all and (max-width: 425px){
  .section-heading-upper,.section-heading-lower{
    text-align: center;
  }
}



/* HOME PAGE */

/* Header/Title */
.site-heading-upper{
  font-family: 'Roboto Slab', serif;
  color: #C2B7AA !important;
}
.site-heading .site-heading-lower{
  color: white;
  font-family: 'Lobster', cursive;
  text-transform: capitalize;
  text-decoration: none;
  transition: all .3s ease-in;
}
.site-heading .site-heading-lower:hover{
  color: rgb(249,242,234) !important;
}
.intro-text p{
  font-family: 'Lobster', cursive;
}
iframe{
  width: 100%;
  border-radius: 20px;
}
@media all and (min-width: 800px) {
  .intro-text p{
    font-size: 18px;
  }
}


/* Countdown */
#countdown h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

#countdown li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

#countdown  li span {
  display: block;
  font-size: 4.5rem;
}

@media all and (max-width: 768px) {
  
  #countdown li {
padding-bottom: 0;
  }
  
  #countdown li span {
    font-size: 50px;
  }
}

@media all and (max-width: 425px){
 #countdown ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
}

/* ABOUT PAGE */
.about-heading-content .intro-button{
  position: relative;
  top: -25px;
  width: fit-content;
}
@media all and (min-width: 768px) {
  .about-heading-img{
    width: 50%;
    transform: translate(50%);
  }
}

/* FOOTER */
.footer{
  display: flex;
  justify-content: space-around;
}
.footer li{
  list-style: none;
}
.footer .footer-robert,
.footer .footer-stef{
width: 50%;
}
.socials{
  display: flex;
  justify-content: center;
}
.socials p:not(:last-child){
  padding-right: 20px;
}
.socials a{
  color: #C2B7AA;
}
